
// .flex-container {
//     display: flex;
//     background-color: lightgray;
//     height: 600px;
    
//     flex-direction: row;
    
//     flex-wrap: wrap;
// }

// .item {
//     flex: 1 0 100px; // flex-grow, flex-shrink (как флекс гроу, только как растягивается), flex-basis
//     flex: 1; // одинаковые боксы на весь main-axis (типа каждый будет занимать одинаковое пространство)
//     height: 100px;
//     background-color: blue;
//     margin: 10px;
//     color: white;

//     // Выравнивание текста внутри блока
//     display: flex;
//     justify-content: center;
//     align-items: center ;
// }

// Обращение к i-му элементу
// .item:nth-of-type(1) {
//     align-self: start;
// }

// .item:nth-of-type(2) {
//     align-self: center;
// }

// .item:nth-of-type(3) {
//     align-self: end;
// }

// Задание порядка следования элементов (с флексом только)
// .item:nth-of-type(1) {
//     order: 3;
// }

// .item:nth-of-type(2) {
//     order:1;
// }

// .item:nth-of-type(3) {
//     order: 2;
// } 


// Real Project Starts here

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #a1c3ff;
    color: #333;
}

.container {
    max-width: 1085px;
    margin: 0 auto;
}

header {
    background-color: #3574e8;

}

.navigation {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Logo {
        font-size: 1.5rem;
    }
    ul {
        display: flex;
        list-style: none;
    }
    ul li {
        margin: 10px;
        
    }
    a {
        color: white;
        text-decoration: none;
        font-weight: bold;

    }
}

.presentation {
    min-height: 400px;
    background-color: blue;

    .container {
        display: flex;
        align-items: center;
        height: 100%;

        img {
            max-width: 400px;
            margin:  15px;
        }
    }
}

.presentation_content {
    color: white;
    h1 {
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.2;
    }
}


.information_container {
    display: flex;
    justify-content: space-between;
}

.information_block {
    background-color: darkblue;
    color: white;
    flex: 1;
    margin: 20px 10px;
    border-radius: 10px;
    padding: 15px 20px;
    //height: 180px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    
    h2 {
        font-size: 1.75rem;
        font-weight: bold;
        line-height: 1.2;
    }

    p {
        font-size: 1rem;
        margin-top: 10px;
    }

    
}

@media(max-width: 1200px) {
    .container {
        max-width: 750px;
    }
    .presentation_content h1 {
        font-size: 2.5rem;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 600px;
    }
    .presentation .container {
        flex-direction: column;
        text-align: center;
        padding-top: 15px;
    }

    .information_container {
        flex-direction: column;
        text-align: center;
        margin: 10px 20px;
    }
}





