@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: #a1c3ff;
  color: #333;
}

.container {
  max-width: 1085px;
  margin: 0 auto;
}

header {
  background-color: #3574e8;
}

.navigation {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .Logo {
  font-size: 1.5rem;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navigation ul li {
  margin: 10px;
}

.navigation a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.presentation {
  min-height: 400px;
  background-color: blue;
}

.presentation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.presentation .container img {
  max-width: 400px;
  margin: 15px;
}

.presentation_content {
  color: white;
}

.presentation_content h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.information_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information_block {
  background-color: darkblue;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 20px 10px;
  border-radius: 10px;
  padding: 15px 20px;
}

.information_block h2 {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.2;
}

.information_block p {
  font-size: 1rem;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 750px;
  }
  .presentation_content h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 600px;
  }
  .presentation .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 15px;
  }
  .information_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 10px 20px;
  }
}
/*# sourceMappingURL=main.css.map */